__pycache__/
*.py[cod]
*$py.class
.env
venv/
.venv/
env/
.idea/
.vscode/

data/raw/*
!data/raw/.gitkeep
data/cleaned/*
!data/cleaned/.gitkeep
data/features/*
!data/features/.gitkeep
runs/*/
!runs/.gitkeep
